# Ignore Python virtual environment
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore local development settings
*.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore helper scripts for automation
.helpers
.data
.DS_Store
